@import "../../../styles/shared";

@include reset;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  @include debug;

  ul {
    list-style: none;
    width: 90%;

    li {
      padding: 0.6rem 1rem;
    }
  }
}
