@import "../../../styles/shared";

@include reset;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  ul {
    list-style: none;
    width: 90%;
    margin-top: 2rem;

    li {
      padding: 0.6rem 1.5rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
