/* --- variables --- */

$font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif;

$color-danger: #D32F2F;
$color-blue: #316aff;
$color-blue-tint: #F0F8FF;
$color-black: #141618;
$color-gray: #63768d;

$fontSize-header: 2.5rem;

$fontSize-body: 1rem;
$lineHeight-body: 1.5;

$fontSize-desc: 0.875rem;
$lineHeight-desc: 1.25;

$shadow: 0 5px 30px -15px rgba(0, 0, 0, .2);

/* --- mixins --- */

@mixin reset() {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }
}

@mixin debug() {
  border: 1px solid red;
}


@mixin main_header() {
  font-family: $font-family;
  font-size: 2rem;
  color: $color-black;
}

@mixin header() {
  font-family: $font-family;
  font-size: 1.25rem;
  font-weight: 500;
  color: $color-black;
}

@mixin body() {
  font-family: $font-family;
  font-size: $fontSize-body;
  color: $color-black;
}

@mixin desc() {
  font-family: $font-family;
  font-size: $fontSize-desc;
  color: $color-black;
}
