@import "../styles/shared";

@include reset;


.app {
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: $color-black;

    .content {
      width: 90%;
      padding: 0.75rem 1.5rem;

      h1 {
        @include main_header;
        color: white;
      }
    }
  }

  .error {
    text-align: center;
    padding: 0.5rem 0;
    background: $color-danger;


    span {
      display: flex;
      align-items: center;
      justify-content: center;
      @include desc;
      color: white;

      i {
        margin-right: 0.25rem;
      }
    }
  }

  .intro {
    width: 35%;
    min-height: 8rem;
    margin: 2rem auto 0;
    list-style: none;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    background: #F4F7F9;
    display: flex;
    flex-direction: column;
    justify-content: center;


    li {
      display: flex;
      align-items: center;

      &:first-of-type {
        margin-bottom: 1rem;
      }

      i {
        margin-right: 0.5rem;
        color: $color-gray;
      }

      span {
        @include body;
      }
    }
  }

  .main {
    margin-top: 2.5rem;
  }
}
