@import "../../../styles/shared";


.listItem {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid transparent;
  padding: 0.6rem 2rem 0.75rem 1.5rem;
  border-radius: 0.25rem;

  &:hover {
    background: $color-blue-tint;
  }

  &--selected {
    border-color: $color-blue;
  }

  .left {
    display: flex;
    flex-direction: row;

    .icon {
      margin-right: 1rem;
      padding: 0.5rem;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;


      input {
        width: 100%;
        border-radius: 0.25rem;

        &:focus {
          outline-color: $color-blue;
        }
      }

      .header {
        @include header;
        padding: 0.25rem 0;
        margin-bottom: 0.5rem;
        min-height: 2rem;
        height: fit-content;
        width: 100%;
        min-width: 40rem;

        &--hidden {
          visibility: hidden;
          position: absolute;
        }
      }

      .title {
        border: 2px solid transparent;
      }

      .album {
        @include desc;
        color: $color-gray;

        display: flex;
        align-items: center;


        .id {
          @include desc;
          font-size: 0.75rem;
          color: $color-gray;
          margin-right: 0.5rem;
        }
      }
    }

  }

  .right {
    padding: 0.15rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;

    .name {
      @include body;
      text-align: right;
      padding-right: 0.25rem;
      margin-top: 0.4rem;
      white-space: nowrap;
    }

    .icon {
      margin-right: 0.25rem;
      margin-top: 0.4rem;
      z-index: 5;
      position: relative;
      top: 0.4rem;
      transition: opacity 0.25s ease;
      padding: 0.15rem;
      border-radius: 10rem;
      color: $color-gray;
      border: 1px solid $color-gray;
      opacity: 0.2;

      &--hidden {
        opacity: 0;
      }

      &:hover {
        cursor: pointer;
        background: $color-danger;
        border-color: $color-danger;
        color: white;
        opacity: 0.8;
      }
    }
  }


}




