/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* added primeNG for quick component style */
@import "node_modules/primeicons/primeicons";
@import "node_modules/primeng/resources/primeng.min";
@import "node_modules/primeng/resources/themes/saga-blue/theme";

